*,
*::before, 
*::after {
    font-family: Helvetica, sans-serif;  
    box-sizing: border-box;   
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:skyblue;
    margin: 0;
    
}
h1{
    color: $base;
    margin: 10px;
}