*,
*::before, 
*::after {
    font-family: Helvetica, sans-serif;  
    box-sizing: border-box;   
}

body{

    background-color:skyblue;

    margin: 0;
    
    
 
    
}
h1{
    color: red;
    margin: 0;
}